.footer {
    background-color: #214252;
    color: white;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 5px;
    max-width: 100vw;
}

.footerIcon {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footerIcon i {
    font-size: 25px;
    color: white;

}