.mainCard {
    width: 100%;
    /* height: 40vw; */
    position: relative;
    overflow: hidden;
    color: white;
    cursor: pointer;
    text-decoration: none;

}

.mainCardImg {
    width: 100%;
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.mainCardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mainCardImg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a80;
    pointer-events: none;
}

.mainCardContent {
    position: absolute;
    bottom: 0;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainCardContent .category {
    font-size: 16px;
    opacity: .9;
}

.mainCardContent .title {
    font-size: 32px;
    font-weight: 800;
}

.publishDetail {
    display: flex;
    gap: 20px;
}

.publishDetail p {
    font-size: 13px;
    opacity: .9;
    display: flex;
    gap: 5px;
    align-items: center;
}

.publishDetail p i {
    font-size: 11px;
    opacity: .8;
}

.mainCardText {
    font-size: 18px;
}

@media (max-width:882px) {
    .mainCardContent .title {
        font-size: 28px;
        font-weight: 700;
    }

    .mainCardText {
        font-size: 16px;
    }

    .mainCardContent .category {
        font-size: 14px;
    }
}

@media (max-width:740px) {
    .mainCardContent .title {
        font-size: 26px;
        font-weight: 700;
    }

    .mainCardText {
        font-size: 14px;
    }

    .mainCardContent .category {
        font-size: 12px;
    }
}

@media (max-width:640px) {
    .mainCardContent .title {
        font-size: 22px;
        font-weight: 600;
    }

    .mainCardText {
        font-size: 12px;
    }

    .mainCardContent .category {
        font-size: 12px;
    }

    .publishDetail p {
        font-size: 10px;

    }

    .publishDetail p i {
        font-size: 10px;
        opacity: .8;
    }
    .mainCardContent {
       
        padding: 30px 20px;
    }
}

@media (max-width:540px) {
    .mainCardContent .title {
        font-size: 20px;
        font-weight: 600;
    }

    .mainCardText {
        font-size: 12px;
    }

    .mainCardContent .category {
        font-size: 10px;
    }


    .mainCardContent {
       gap: 5px;
        padding: 30px 20px;
    }
}
@media (max-width:480px) {
    .mainCardContent .title {
        font-size: 16px;
        font-weight: 500;
    }

    .mainCardText {
        display: none;
    }

    .mainCardContent .category {
        font-size: 10px;
    }


    .mainCardContent {
       gap: 5px;
        padding: 10px 20px;
    }

}